.loader {
  border: 0.1rem solid #f3f3f3; /* Light grey */
  border-top: 0.1em solid #414141; /* Blue */
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s ease-out infinite;
  margin: 1em auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
